<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!--STOMP-->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <!--products.js dependance: jquery-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/statico/products.js"></script>

</head>

<body>

<div class="container" >
    <div th:replace="~{navigation :: navigation(Home)}" />
    <h1>Product</h1>
    <table class="table table-hover" id="table">
        <thead class="head-dark">
        <tr>
            <td>Title</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product : ${products}">
            <td th:text="${product.title}">Cheese</td>
            <td th:text="${product.price}">12.0</td>
            <td><a th:href="@{/products/{id}/bucket(id=${product.id})}">Add to bucket</a></td>
</tr>

        </tbody>
    </table>
    <form>
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" id="title"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="number" id="price"></td>
            </tr>
        </table>
        <button id="send" type="submit">Submit</button>
    </form>

</div>
</body>
</html>

